.contenedor{
    display: grid;
    grid-template-columns: 1fr;
}

.contenido{
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center; 
}